
h1,h2,a,input {font-family: 'Open Sans'; }

h1 {
  font-size:2em;
  width:100%;
  text-align: center;
}
.overlay {
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  display: none;

  .windows8 { position: absolute; left:50%; top:50%; margin-left: -50px; margin-top: -50px;}
}

.copyright {
  position:fixed;
  right:23px;
  bottom:0px;
  background-color: rgba(0,0,0,0.8);
  color:white;
  padding:5px 10px;

  a{color:white;}
}

section {
  height:100%;

  .converter {
    width:100%;
    height: 100%;

    .input {
      float:left;
      width:50%;
      height:100%;
      position:relative;

      .CodeMirror{
        width:100%;
        height:100%;
        border-left:4px solid #eee;
        border-top:1px solid #eee;
        border-right:1px solid #eee;
        border-bottom:1px solid #eee;
        display: block;
        color: #333;
        background: #f8f8ff;
      }

      &:hover {
        .controls {
          .btn {display:inline-block; }
        }
      }

      .controls {
        position:absolute;
        bottom:0px;
        right: 16px;
        z-index: 999;

        a {
          display: inline-block;
          height:27px;
          border:0;
          padding:5px 10px;
          color:white; background-color: rgba(0,0,0,0.8);
          vertical-align: middle;

          &.hidden {display: none !important;}

          &.btn{
            display: none;
            border-right:1px solid white;

            &:hover {  background-color: rgba(0,0,0,0.6);}
          }
        }
      }

      &.less{
        .controls {
          left:33px;
          right:auto;

          .btn{
            border-right:none;
            border-left:1px solid white;
          }
        }
      }
    }
  }
}