.info-block {
  display: none;
  position:relative;

  background-color: rgba(255,255,255,0.7);
  padding:25px 50px;

  h1 {margin-bottom:25px;}
  ul {
    margin-left:35px;
    margin-top:10px;
    margin-bottom:10px;
    li {list-style: square; }
  }

  .close-button {
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
  }
}